table {
  width: 100%;
}

.search-bar{
text-align:center;
}
.example-form {
 height:65px;
  width: 100%;
}
.example-full-width {
text-align:center;
  width: 100%;
  font-size:150%
}
.btn-search{
margin-top:10px;
}
